{% extends "base.html" %}
{% load staticfiles %}
{% load chartit %}
{% block head %}
{{ ratesmonitor_chart|load_charts:"rates_panel" }}
{% endblock %}
{% block content %}


<div class="container">
  <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> Trigger Dashboard</strong></a>
      <hr>
  <div class="row">
    <div class="col-md-8">     
      <!-- column 2 -->

<!--      <div class="row">	    
        <!-- center left-->
<!--        <div class="col-md-9"> -->
          <div class="panel panel-default"> <!-- GRAPH -->
	    <div id="rates_panel" class="panel-body" style="width:95%;height:400px;auto">
	    </div>
	  </div>
	  <hr>			                  	 
	  <!-- trigger buttons -->
	  <div class="btn-group btn-group-justified">
	    <a href="/trigger/flush" class="btn btn-danger col-sm-3">
	      <i class="glyphicon glyphicon-remove"></i><br> Flush data  </a>
	    <a href="/trigger/help" class="btn btn-primary col-sm-3">
	      <i class="glyphicon glyphicon-question-sign"></i><br> Help </a>
	  </div> <!-- end button group -->        
	  <hr>
      </div>
<!--      </div>
    </div>-->
    <!-- status -->						       
    <!--/col-->
    
  </div>
</div>

<br></br>

<div id="table_panel">
{% if db_stats %}
<table class="table table-striped" style="width:95%";title="Input DB">
<tbody>
<tr>
   <th> Key </th>
   <th> Value </th>
</tr>
   {% for x,y in db_stats %}
      <tr>
        <td> {{ x }} </td>
        <td> {{ y }}</td>
      </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
<p>No DB stats received.</p>
{% endif %}
</div>


<table>
{% for i, j in nob %}
    <tr>
        <td>{{ i }}</td>
        <td>{{ j }}</td>
    </tr>
{% endfor %}
</table>

<br></br>

<div style="padding-left: 20px">
<p><a href="../" class="btn btn-primary btn-large">&laquo; Back</a></p>
</div>

{% endblock %}
